<div class="act-chapter">
    <div class="prev-chapter"><a href="{{ page.prev }}">&lt; prev</a></div>|
    <div class="chapter">{{ page.chapter-heading }}</div>
    |<div class="next-chapter"><a href="{{ page.next }}">next &gt;</a></div>
</div>
<div class="chapters">
    {% assign testament = site.data.navigation.testaments | where: "testament", page.sidebar | first %}
    {% assign book = testament.books | where: "name", page.bookname | first %}
    {% for chapter in book.chapters %}
        {% assign lowerchapter = page.chapter | downcase %}
        {% assign chapterasstring = chapter | append: "" %}
        <a href=../{{ chapter }}{% if chapterasstring==lowerchapter %} class=active{% endif %}>{{ chapter }}</a>
    {% endfor %}
</div>
