<div class="act-chapter">
    <div class="prev-chapter"><a href="{{ page.prev }}">&lt; prev</a></div>|
    <div class="chapter">{{ page.chapter-title }}</div>
    |<div class="next-chapter"><a href="{{ page.next }}">next &gt;</a></div>
</div>
<div class="chapters">
  {% assign testament = site.data.navigation[page.sidebar] %}
  {% assign book = testament.books[page.book] %}
  {% for chapter in book.chapters %}
    <!--!{{chapter}}!{{page.chapter}}!--><a href=/{{testament.path}}/{{book.path}}/{{chapter}}{% if chapter==page.chapter %} class=active{% endif %}>{{ chapter }}</a> {% endfor %}
</div>
