/*$dark-back-color: #8F7456;
$title-color: #FFFFCC;
$chapter-name-color:  #CC0000;
$drop-down-background: #F1EFE7;
$footer-link-color: #C2AF9A;
$drop-cap-color: #990033; 
*/
$dark-back-color: #0b78d1;
$title-color: #FFFFCC;
$chapter-name-color:  #d1640b;
$drop-down-background: #e6f1fa;
$footer-link-color: #C2AF9A;
$drop-cap-color: #990033; 


*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

/* --- common --- */
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.span_1_2 {
    width: 48%;
}

/* ---- header ---- */

.main-header {
    border: none;
    margin: 0;
    background: $dark-back-color;
    width: 100%;
    padding: 0 13px;
    box-sizing: border-box;
    @media screen and (max-width: 1000px) and (min-width: 800px) {
        padding: 0 2px;
    }    
    @media screen and (max-width: 799px) {
        padding: 0 2px;        
    }
    .header-login {
        height: 46px;
    }
    .header-right {
        float: right;
        max-width: 680px;
        text-align: center;
        margin-right: 50px;
        @media screen and (max-width: 1000px) and (min-width: 800px) {
                margin-right: 20px;
        }
        @media screen and (max-width: 799px) {
            margin-right: 20px;
        }
        div {
            width: 100%;
        }
        .main-caption {
            @media screen and (max-width: 1000px) and (min-width: 800px) {
                font-size: 28px;   
            }            
            @media screen and (max-width: 799px) {
                font-size: 18px;
            }
        }
        .second-caption {
            @media screen and (max-width: 1000px) and (min-width: 800px) {
                font-size: 14px;
            }            
            @media screen and (max-width: 799px) {
                font-size: 12px;
            }   
        }
    }
    .main-caption{
        font-size: 32px;
        font-weight: bold;
        color: $title-color;
        padding: 5px 0 5px 0;
        font-family: Georgia, serif;
        font-variant: small-caps;
        @media screen and (max-width: 799px) {
            font-size: 20px;
        }
        a {
            text-decoration: none;
            &:visited, &:active {
                color: $title-color;
            }
        }    
    }
    .second-caption {
        font-size: 18px;
        font-weight: bold;
        color: white;
    }
}


/*--- main --- */
.page-content{
    margin: 0;
    width: 100%;
    padding: 22px 15px;
    box-sizing: border-box;
    vertical-align: top;
    @media screen and (max-width: 1000px) {
        padding: 0;
    }
}

/*--- left menu --- */
.side-menu {
    @media screen and (min-width: 1001px) {
        background: $drop-down-background;
        width: 190px;
        float: left;
    }
    @media screen and (max-width: 1000px) {
        background: $drop-down-background;
    }
    ul {
        list-style: none;
        margin: 2px;
        padding: 0;
        @media screen and (max-width: 1000px) {
            border-top: 2px solid rgb(255, 255, 255);
        }
    }
    li a {
        @media screen and (max-width: 1000px) {
            display: inline-block;
            width: 100%;
            font-size: 18px;
            line-height: 35px;
            vertical-align: middle;
        }
    }
    
    .sheet-list {
        li{
            display: inline-block;
            padding: 4px 2px;
            box-sizing: border-box;
        }
        a {
            display: block;
            width: 100%;
            font-size: 16px;
            color: $dark-back-color;
            font-weight: bold;
            text-align: center;
            text-decoration: underline;
            padding: 5px 10px;
            background-color:  white;
            box-sizing: border-box;
            &:hover {
                color: $chapter-name-color;
            }
        }
        .active a{
            text-decoration: none;
            background-color: inherit;
        }
    }
    .item-list{
        margin: 5px;
        .book-item {
            a {
                font-size: 16px;
                color: $dark-back-color;
                margin-left: 4px;
                text-decoration: none;
                &:hover {
                    color: $chapter-name-color;
                }
            }
            &.active a{
                color: $chapter-name-color;
            }            
        }
    }
}

.dropdown-menu {
    @media screen and (min-width: 1001px) {
        display: none;
    }
    @media screen and (max-width: 1000px) {
        display: block;
        padding: 10px;
    }
    a {
        @media screen and (max-width: 1000px) {
            display: inline-block;
            line-height: 40px;
            border: 1px solid #CAD0DB;
            border-bottom: 0;
            color: $drop-down-background;
            vertical-align: top;
            text-decoration: none;
            background-color: $dark-back-color;
            font-family: Verdana, serif;
            font-size: 18px;
            font-weight: bold;
            padding: 0 25px;
        }        
    }
}

.collapsed {
    @media screen and (max-width: 1000px) {
        display: none;
    }
}

/* ---- main-content ---- */

.main {
    width: 65%;
    margin: 0 0 0 20px;
    display: inline-block;
    @media screen and (max-width: 1000px) {
        width: 100%;
        margin: auto;
    }
    @media screen and (max-width: 1250px) and (min-width: 1000px) {
        width: 60%;
        margin-left: 10px;
    }
}

.main-content {
    border: 2px solid $drop-down-background;
    width: 100%;
    a { 
        color: $dark-back-color;
        text-decoration: none;
    }
    .prev-chapter, .next-chapter {
         a {
            @media screen and (max-width: 1000px) {
                width: 150px;
            }   
        }
    }
}

%book-ends {
    text-align: center;
    color: $dark-back-color;
    padding: 8px;
}

.book-header { 
    @extend %book-ends;
    border-bottom: 2px solid $drop-down-background;
    .vers-view-type {
        position: absolute;
        @media screen and (max-width: 600px) {
            position: static;
            display: block;
        }
    }
    .bible-name {
        font-size: large;
        font-weight: bold;
        padding: 4px;
    }
    .book-name {
        padding: 5px 0;
        font-weight: bold;
        font-size: large;
        color: $chapter-name-color;
    }
}

.book-footer {
    @extend %book-ends;
    border-top: 2px solid $drop-down-background;
}

.act-chapter {
    padding: 4px;
    font-weight: bold;
    .chapter {
        display: inline-block;
        color: $chapter-name-color;
        font-size: large;
        min-width: 130px;
    }
}

.prev-chapter, .next-chapter {
    display: inline-block;
    font-size: medium;
    width: 80px;
    font-family: Georgia, serif;
}

.chapters {
    padding: 4px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    font-size: small;
    a {
        &.active {
            color: $chapter-name-color;
        }
        &:hover {
            color: $chapter-name-color;
        }
    }
}

.verse {
    padding: 1em;
    line-height: 150%;
    a {
        text-decoration: underline;
    }
    .speaker{
        font-size: 0.7em;
        text-transform: uppercase;
        display: inline-block;
        padding-right: 5px;
    }
}

.vers-inline {
    display: inline;
    .content-paragraph {
        display: inline;
    }
    
}

.vers-searched {
    background-color: $title-color;
}


/* --- cutom colors --- */
.firstverse {
    color: $dark-back-color;
}

.number {
    display: inline;
    color: $chapter-name-color;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    font-size: small;
}

/* --- adv --- */
.advert {
    width: 180px;
    border: 2px solid $drop-down-background;
    text-align: center;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 16px;
    vertical-align: top;
    margin-left: 15px;
    @media screen and (max-width: 1000px) {
        width: 100%;
        margin-left: 0;
    }
    @media screen and (max-width: 1250px) and (min-width: 1000px) {
        margin-left: 0;
        float: right;
    }
}

.advert-text {
    font-family: Georgia, serif;
    color: $dark-back-color;
}


.copyright{
    width: 100%;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: $footer-link-color;
    font-weight: normal;
    padding: 25px 0;
}

/* --- report-problem --- */
.report-problem {
    width: 100%;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: $footer-link-color;
    font-weight: normal;
    margin-top: -15px;
    padding-bottom: 25px;
    a {
        color: $dark-back-color;
    }
}


.center{
    text-align: center;
    width: 100%;
    max-width: 600px;
    @media screen and (max-width: 1000px) {
        text-align: center;
        width: 100%;
        max-width: none;
    
    }
}

// these are the styles added by me for content
.verse > p:first-child:first-letter { 
    float: left; 
    color: $drop-cap-color;
    font-size: 50pt; 
    line-height: 40px; 
    padding-top: 4px; 
    padding-right: 8px; 
    padding-left: 3px;
  }
  
  sup {
    line-height: 0;
  }
  
  .chapter-intro p {
    padding-left: 2em;
    text-indent: -1em;
    padding-right: 1em;
  }
  
  
  .main {
    line-height: 150%;
    /*font-size: 14pt; */
  }

  div {
    &.annotations, &.marginnotes, &.marginrefs {
      padding: 1em;
    }
  }