<!doctype html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width, initial-scale=1.0">
	<title>{{site.title}} {{ page.book }} {{ page.chapter }}</title>
	<meta name=description content="{{site.description}}">
	<meta name=keywords content="catholic, bible, douay, rheims, original, true, scriptures, old testament, new testament, vulgate">
	<meta name=copyright content="Public Domain">
	<meta name=robots content="index, follow">
	<meta name=revisit-after content="1 week">
	{% seo %}
	<link href=/assets/css/styles.css rel=stylesheet type=text/css>
	<script src=/assets/js/site.js></script>
</head>
<body>
<header class="main-header">
	<div class="header-left">
		<div class="main-caption" title="{{site.description}}"><a href=/>{{site.title}}</a></div>
		<div class="clearfix"> </div>
	</div>
	<div class="clearfix"> </div>
</header>
<div class="page-content">
	<div class="side-menu">
	<div class="dropdown-menu">
		<a href="#" class="selected-sheet-caption dropdown" data-target="sheet-list">{{page.sidebar}}</a>
		<a href="#" class="selected-book dropdown" data-target="item-list">{{page.book}}</a>
	</div>
	{% include sheet-list.html %}
	{% include book-navigation.html %}
</div>
	<div class="main">
		<div class="main-content">
			<div class="book-header">
				<div class="bible-name">The Holy Bible — Douay Rheims Translation</div>
				<div class="book-name">{{ page.title }}</div>
				{% include act-chapter.html %}
			</div>
      {{ content }}
			<div class="book-footer">
				{% include act-chapter.html %}
			</div>
		</div>
	</div>
	<div class="advert">
		{% include images.html %}
	</div>
</div>
<div class=copyright><a rel="license" href="http://creativecommons.org/publicdomain/mark/1.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/p/mark/1.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/publicdomain/mark/1.0/">Creative Commons Public Domain Mark 1.0 License</a>.</div>
	<div class=report-problem>
		<a href=https://en.wikisource.org/wiki/Index:The_New_Testament_of_Iesvs_Christ_faithfvlly_translated_into_English,_ovt_of_the_authentical_Latin,_diligently_conferred_with_the_Greek,_%26_other_Editions_in_diuers_languages.pdf class=report-problem-action>View (and help out) on Wikisource</a>
	</div>
	<div class=report-problem>
		<a href=mailto:{{site.email}} class=report-problem-action>Report a Problem</a>
	</div>		
	{% include photo-viewer.html %}
</body>
</html>